git+ssh://git@github.com/DataCose/automation-sdk.git@deadba13db13e6f9e516bbe0eb55820924d8e03b#subdirectory=src/datacose
git+ssh://git@github.com/DataCose/automation-sdk.git@deadba13db13e6f9e516bbe0eb55820924d8e03b#subdirectory=src/datacose-shipstation
pandas==2.0.3