git+ssh://git@github.com/DataCose/automation-sdk.git@b4604018064758dfcc88472fd4f3e25491e346ee#subdirectory=src/datacose
git+ssh://git@github.com/DataCose/automation-sdk.git@b4604018064758dfcc88472fd4f3e25491e346ee#subdirectory=src/datacose-shipstation
pandas==2.0.3