git+ssh://git@github.com/DataCose/automation-sdk.git@0f3a731e44847d31b36e86a4947f2701a276d970#subdirectory=src/datacose
git+ssh://git@github.com/DataCose/automation-sdk.git@0f3a731e44847d31b36e86a4947f2701a276d970#subdirectory=src/datacose-shipstation
pandas==2.0.3